
<div class="wrapper">
  <div id="footer">
    <div id="newsletter">
    <h2>Contact</h2>
      <p>Facebook: <a href="https://www.facebook.com/dndiy"> Do Not Do It Yourself </a></p>
      <p>Email: <a href="mailto:greg@dndiy.org"> greg@dndiy.org</a></p>
      <p><br>Address: <a href="#">The Secret Laboratory.</a></p>
      <p><br>...or for other contacts click <a href="contact.html">here.</a></p>
      <p></p>

    </div>
    <div class="footbox">
      <h2>Special Thanks</h2>
      <ul>
        <li>April "The Dictator"</a></li>
        <li>Bryce "The Wzd"</a></li>
        <li>J. "The Mysterious Assistant"</a></li>
        <li>"Mr. joeB"</a></li>
        <li class="last">Haley</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Special Thanks</h2>
      <ul>
        <li>Lauren</a></li>
        <li>Eric</a></li>
        <li>Mike</a></li>
        <li>Dominik</a></li>
        <li class="last">Rich M.</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Special Thanks</h2>
      <ul>
        <li>Your Name</a></li>
        <li>Your Name</a></li>
        <li>Your Name</a></li>
        <li>Your Name</a></li>
        <li class="last">Your Name</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<div class="wrapper">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; NW Institute of Mad Science 2048 - All Rights Reserved - <a href="#">DNDIY.org</a></p>
    <p class="fl_right">We love you.</a></p>
    <br class="clear" />
  </div>
</div>
