<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DNDIY</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="A multi generational project series in which amazing things happen.">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="http://dndiy.github.io/dndiy.org/styles/layout.css" type="text/css" />
    <link rel="icon" type="image/png" href="http://dndiy.org/image.png"/>


</head>
