<div class="wrapper">
  <div id="header">
    <div id="logo">
    <div class="fl_left"><a href="index.html"><img src="/images/logo.png" alt="" /></a></div>
      <p>Do Not Do It Yourself</p>
    </div>
    <div id="topnav">
      <ul>
        <li><a href="episode.html">Episodes</a></li>
        <li><a href="members.html">Members</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="community.html">Community</a></li>
        <li class="last"><a href="about.html">About</a></li>

      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
