<div class="wrapper">
  <div id="photos">
     <ul>
        <li><a href="tools.html"><img src="/images/gallery/thumbs/weldthumb.png" alt="" /></a></li>
        <li><a href="quickies.html"><img src="/images/gallery/thumbs/mamosa.png" alt="" /></a></li>
        <li><a href="spraycharge.html"><img src="/images/gallery/thumbs/spraythumb.jpg" alt="" /></a></li>
        <li><a href="gallery.html"><img src="/images/gallery/thumbs/vwthumbg.jpg" alt="" /></a></li>
        <li><a href="tools.html"><img src="/images/gallery/thumbs/standthumb.jpg" alt="" /></a></li>
        <li><a href="gallery.html"><img src="/images/gallery/thumbs/bicyclethumb.jpg" alt="" /></a></li>
        <li><a href="lamp.html"><img src="/images/gallery/thumbs/lampthumb.jpg" alt="" /></a></li>
        <li class="last"><a href="tools.html"><img src="/images/gallery/thumbs/cartthumb.jpg" alt="" /></a></li>
      </ul>
    <br class="clear" />
  </div>
</div>
